* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header img {
  height: 80px;
}

.shoppingList {
  border-radius: 6px;
  border: 2px solid gray;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  flex-direction: column;
}

.listHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}




.item {
  display: flex;

  justify-content: space-between;

  border: 1px solid #f0f0f0;
}

.itemsCount {
  color: grey;
  font-weight: 600;
  font-size: 14px;
}

.item .productImg img {
  height: 100px;
}

.item {
  justify-content: start;
  gap: 8px;
}

.editProductQty,
.changeQty {
  display: flex;
  align-items: center;
  gap: 3px;
}

.decrease,
.increase,
.removeBtn {
  border: 2px solid gray;
  border-radius: 5px;
}

.removeBtn span {
  color: red;
}

.totalCart {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin: 5px;
  flex-wrap: wrap;
}





.orSum {
  border: 2px solid #dadada;
  border-radius: 5px;
  padding: 4px;
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, Arial;
  min-width: 300px;
}

.orSum h1 {
  padding: 4px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #686869;
}


.proceedbtn {
  background: #024e9c;
  color: white;
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 2px;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
  border: 2px solid #024e9c;
  transition: background-color 0.3s ease;
}

.proceedbtn:hover {
  background: white;
  color: #024e9c;
  border: 2px solid #024e9c;
}